<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TutorBoard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse mx-sm-2" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" th:href="@{/home}">Home</a>
            <a sec:authorize="hasAuthority('ROLE_LECTURER')" class="nav-item nav-link active" th:href="@{/dozentenboard}">TutorBoard</a>
            <!--<a class="nav-item nav-link" th:href="@{/tutor-calendar}">TutorBoard</a> -->
            <a class="nav-item nav-link" th:href="@{/overview}">AdminBoard</a>
        </div>
    </div>
    <div class="navbar-nav ml-auto mx-sm-2">
        <a class="nav-item nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">Log-Out</a>
    </div>
</nav> <br/>

<div class="container-fluid">
    <h1 th:text="|Hallo ${lecturer.firstName} ${lecturer.lastName}|" class="mx-sm-4 mb-4"></h1>
    <div th:if="${access}">
        <div class="alert alert-danger">Du hast keinen Zugriff auf die Planung, weil Sie gerade nicht dran sind.</div>
    </div>
    <div th:if="${noPlaning}">
        <div class="alert alert-danger">Der Planungsprozess ist aktuell noch nicht gestartet.
        </div>
    </div>
    <div th:if="${param.error}">
        <div class="alert alert-danger">Der Plannungsprozess kann nicht beedet werden, da Sie nicht dran sind.
        </div>
    </div>
    <div th:each="course : ${courses}" class="mx-sm-4 mb-5" >
        <div class="row mb-1">
            <div class="col-5 text-start">
                <h3 th:text="${course.courseName}" class="mb-0"></h3>
            </div>
            <div class="col-7 text-end">
                <a th:href="@{/tutorCourseCalendar/{courseId} (courseId = ${course.id})}">
                    <button class="btn btn-dark">Bearbeiten</button>
                </a>
                <a th:href="@{/finish-planning/{courseId} (courseId = ${course.id})}">
                    <button class="btn btn-dark">Planung abschließen</button>
                </a>
            </div>
        </div>
        <div class="row">
            <hr class="mb-1">
            <div>
                <table>
                    <tr th:each="lecture : ${lectures}">
                        <div th:if="${lecture.course == course}">
                            <td th:text="${lecture.lectureName}" width="60%"></td>
                            <td th:text="|${lecture.remainingDuration} ungeplante Stunden|"></td>
                        </div>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <h3 class="mx-sm-4 mb-3 mt-4"><u>Ihre Vorlesungs-Termine</u></h3>
</div>
<div class="container">
    <div id="tutorCalendar" class=" mx-5 mb-5"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.js"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>