<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TutorBoard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" th:href="@{/home}">Home</a>
            <a sec:authorize="hasAuthority('ROLE_LECTURER')" class="nav-item nav-link" th:href="@{/dozentenboard}">TutorBoard</a>
            <!--<a class="nav-item nav-link" th:href="@{/tutor-calendar}">TutorBoard</a> -->
            <a class="nav-item nav-link" th:href="@{/overview}">AdminBoard</a>
        </div>
    </div>
    <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">Log-Out</a>
    </div>
</nav> <br/>
<h1 th:text="|Hello ${lecturer.firstName} ${lecturer.lastName}|"></h1>
<br/><br/>
<!--<div th:each="course: ${courses}">-->
<!--    <div>-->
<!--    <a th:text="${course.courseName}"></a>-->
<!--    <a th:href="@{/courseCalendar/{id} (id = ${course.id})}">-->
<!--        <button class="btn btn-dark">Go to planning</button> <br/><br/>-->
<!--    </a>-->
<!--    </div>-->
<!--    <div th:each="lecture : ${lectures}">-->
<!--        <div th:if="${lecture.course == course}">-->
<!--            <tr>-->
<!--                <td th:text="${lecture.lectureName}"></td>-->
<!--                <td th:text="|${lecture.remainingDuration} unplanned hours|"></td>-->
<!--                <td><button>Finish planning</button></td>-->
<!--            </tr>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div th:each="course : ${courses}" >
    <h2 th:text="${course.courseName}"></h2>
    <a th:href="@{/tutorCourseCalendar/{courseId} (courseId = ${course.id})}">
        <button class="btn btn-dark">edit course</button>
    </a>

    <hr>
    <div th:each="lecture : ${lectures}">
        <div th:if="${lecture.course == course}">
            <tr>
                <td th:text="${lecture.lectureName}"></td>
                <td th:text="|${lecture.remainingDuration} unplanned hours|"></td>
            </tr>
        </div>
    </div> <br/><br/>
</div>
</body>
</html>