<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adminboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<h1>Hello World</h1>
<h1 th:text="${program.name}"></h1>
<h1 th:text="${program}"></h1>
<form action="#" th:action="@{/save-course/{id} (id=${program.id})}" th:object="${course}" method="post" >
    <div class="form-group">
        <label for="namedegreeprogramm">Name des Degreeprograms</label>
        <input type="text" class="form-control" id="namedegreeprogramm" placeholder="Enter Degreeprogram name" th:field="*{name}">
        <label for="namedegreeprogrammshrt">Kurzer Name des Degreeprograms</label>
        <input type="text" class="form-control" id="namedegreeprogrammshrt" placeholder="Enter short Degreeprogram name" th:field="*{shortName}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>



</body>
</html>