<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" rel="stylesheet">
    <title>Tutor-Calendar</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" th:href="@{/home}">Home</a>
            <a sec:authorize="hasAuthority('ROLE_LECTURER')" class="nav-item nav-link active" th:href="@{/dozentenboard}">TutorBoard</a>
            <a class="nav-item nav-link" th:href="@{/adminboard}">AdminBoard</a>
        </div>
    </div>
    <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">Log-Out</a>
    </div>
</nav> <br/>

<div class="container-fluid">
    <div class="row">
        <h2 th:text="${course.courseName}" class="mx-sm-4"></h2>
    </div>
    <div th:if="${dateOverlap}">
        <div class="alert alert-danger">Der Termin konnte nicht angelegt werden, da sicher mit einem andern überschneidet.
        </div>
    </div>
    <div class="row">
        <div class="col-9 px-5 pt-4">
            <div id="courseCalendar" class="px-5"></div>
        </div>
        <div class="col-3 pt-5">
            <h3 class="pt-5">New Lecture Date</h3>
            <form action="#" th:action="@{/save-lecturedate}" th:object="${lecturedate}" method="post">
                <label for="lecture-select">Lecture</label><br/>
                <select id="lecture-select" class="form-control-selectpicker" name="lectureId">
                    <option th:each="lec : ${lectures}" th:value="${lec.id}" th:text="${lec.lectureName}"></option>
                </select><br/><br/>
                <div>
                    <label for="startlecturedate">Start</label><br/>
                    <input type="datetime-local" id="startlecturedate" th:field="*{start}"><br/><br/>
                    <label for="endlecturedate">End</label><br/>
                    <input type="datetime-local" id="endlecturedate" th:field="*{end}"><br/><br/>
                </div>
                <button type="submit" class="btn btn-primary">Add Event</button>
            </form><br/><br/>
            <h3 class="pt-5">Lectures to Plan</h3>
            <table class="table">
                <tr>
                    <th class="px-0">Lecture</th>
                    <th class="px-0">Unplanned hours</th>
                </tr>
                <tr th:each="lecture : ${lectures}" th:if="${lecture.course == course}">
                    <td th:text="${lecture.lectureName}" class="px-0"></td>
                    <td th:text="|${lecture.remainingDuration} unplanned hours|" class="px-0"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-9 table-responsive px-5">
            <div class="px-5">
<!--            <table class="table">-->
<!--                <tr>-->
<!--                    <th>Lecture Name</th>-->
<!--                    <th>Date</th>-->
<!--                    <th>Start</th>-->
<!--                    <th>End</th>-->
<!--&lt;!&ndash;                    <th>Duration</th>&ndash;&gt;-->
<!--                    <th></th>-->
<!--                    <th></th>-->
<!--                </tr>-->
<!--                <tr th:each="lectureDate : ${lectureDates}">-->
<!--                    <td th:text="${lectureDate.title}"></td>-->
<!--                    <td th:text="${#temporals.format(lectureDate.start, 'dd-MM-yyy')}"></td>-->
<!--                    <td th:text="${#temporals.format(lectureDate.start, 'HH:mm')}"></td>-->
<!--                    <td th:text="${#temporals.format(lectureDate.end, 'HH:mm')}"></td>-->
<!--&lt;!&ndash;                    <td th:text="${lectureDate.end - lectureDate.start}"></td>&ndash;&gt;-->
<!--                    <td>-->
<!--                        <a th:href="@{/update-lectureDate(idLecture = ${lectureDate.id}, idCourse=${course.id})}">-->
<!--                            <button type="button" class="btn btn-secondary">Edit</button>-->
<!--                        </a>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <a th:href="@{/remove-lectureDate(idCourse=${course.id}, idLectureDate = ${lectureDate.id})}">-->
<!--                            <button type="button" class="btn btn-danger">Delete</button>-->
<!--                        </a>-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->
            <table class="table">
                <tr>
                    <th>Lecture Name</th>
                    <th>Start</th>
                    <th>End</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr th:each="lectureDate : ${lectureDates}">
                    <form action="#" th:action="@{/update-lecturedate}" method="post">
                        <input type="hidden" name="courseId" th:value="${course.id}">
                        <input type="hidden" name="lectureDateId" th:value="${lectureDate.id}">
                        <td>
                            <select id="edit_lecture-select" class="form-control-selectpicker" name="lectureId_edit">
                                <option th:each="lec : ${lectures}" th:value="${lec.id}" th:text="${lec.lectureName}" th:selected="${lec.lectureName == lectureDate.title}"></option>
                            </select>
                        </td>
                        <td>
                            <input type="datetime-local" th:value="${lectureDate.start}" name="start_edit">
                        </td>
                        <td>
                            <input type="datetime-local" th:value="${lectureDate.end}" name="end_edit">
                        </td>
                        <td>
                            <button type="submit" class="btn btn-success">Edit</button>
                        </td>
                    </form>
                    <td>
                        <a th:href="@{/remove-lectureDate(lectureDateId = ${lectureDate.id}, courseId=${course.id})}">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </a>
                    </td>
                </tr>
            </table>
            </div>
        </div>
        <div class="col-3 table-responsive">
<!--            <div th:each="lecture : ${lectures}" class="mx-sm-4">-->
<!--                <div th:if="${lecture.course == course}">-->
<!--                    <table class="table">-->
<!--                        <tr>-->
<!--                            <td th:text="${lecture.lectureName}"></td>-->
<!--                            <td th:text="|${lecture.remainingDuration} unplanned hours|"></td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.js"></script>
<script th:src="@{/js/script.js}"></script>
</body>
<html>